body{
    margin: 0px;
    padding: 0px;

    background-color: white;
}

#timePicker{
    position: absolute;
    top:20px;
    left:200px;
    width: 1000px;
    height: 250px;
    overflow:auto;

    svg{
        width:1000px;
        height: 200px;

        background-color: black;
    }
}